.chat-section {
  display: flex;
  height: 50px;
  margin: 10px auto;
  align-items: center;
  border: none;
  border-radius: 6px;
  background: #E8E8E8;
  padding: 10px;
  
}
.chat-section > div:first-child,
.chat-section > div:last-child {
  flex: 50px;
  text-align: center;
}
.chat-section > div:nth-child(2) {
  width: calc(100% - 100px);
  text-align: center;
}
.chat-areas {
  display: flex;
}
.chat-area {
  flex: 1;
  border-radius: 6px;
  padding: 10px;
  background: #DCDCDC;
}
