.icon {
  width: 12px;
}
.minus-icon {
  content: url('https://s3.us-east-2.amazonaws.com/ui-icons/black/minus-icon.svg');
}
.plus-icon {
  content: url('https://s3.us-east-2.amazonaws.com/ui-icons/black/plus-icon.svg');
}
.down-arrow {
  content: url('https://s3.us-east-2.amazonaws.com/ui-icons/black/down-arrow.svg')
}
.up-arrow{
  content: url('https://s3.us-east-2.amazonaws.com/ui-icons/black/up-arrow.svg')
}
